
<div style="padding-left: 45px;" class=".grid-container">

    <h2 style="padding-left: 35%;"> Gibots Assignment</h2><br>
      
      
         <h5> By Using below provided JSON structure you need write an api using
          node js and Express frame work. To perform below operation<br>
          1. Insert the given data into the database each json as a separate document in
          mongodb.<br>
          2. Get api which will sort Json structure by age in the ascending order without inbuilt
          function.<br>
          3. Get api which will provide sum of all the marks from given data structure
          Note​ : You need to write a logic by using any of the JavaScript iterator logic should not be
          hardcoded
      </h5><br>
    
    
    
    
    
    <div class="structure">
         <input type="text"name="name"[(ngModel)]="name" placeholder="name"><br><br>
         <input type="text" name="age"[(ngModel)]="age" placeholder="age"><br><br>
    
         <input type="text"name="marks"[(ngModel)]="marks" placeholder="marks"><br><br>
         <button type="button" (click)="save()">send</button><br><br>
    </div>
    </div> 